@import url('https://fonts.googleapis.com/css?family=Play');
body {
  background-color: orange;
  font-family: "Play";
}

div {
  padding: 20px;
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: orange;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #BC6527;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 13px;
  border-radius: 19px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

#sawtooth {
  background-color: #336E91;
}

#sine {
  background-color: #783d47;
}

#triangle {
  background-color: #3b3040;
}

#square {
  background-color: #b85635;
}

#oscillator-list {
  /* Descendent Selector */
  list-style-type: none;
  padding-left: 0px;
  color: white;
}

.selected-waveform {
  outline: 2px solid #FFFFFF;
}

.osc-controls {
  border-style: solid;
  border-color: #BC6527;
  border-width: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.application {
  width: 550px;
  margin: 0 auto;
}
